.product {
  color: inherit;
  display: flex;
  flex-direction: column;
  margin: .3em;
  padding: 0;
  text-decoration: inherit;
  transition: .3s;
  width: 100%;
}

.product:hover {
  color: inherit;
  text-decoration: inherit;
  opacity: .6;
}

.product p:last-child {
  margin-bottom: 0;
}

.product img {
  margin-bottom: .6em;
  width: 100%;
}

.product h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

.product-description {
	flex: 1 0 auto;
}

@media (min-width: 40em) {
  .product {
    margin: 1em;
  }

  .product h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 110em) {
  .product h2 {
    font-size: 2.5rem;
  }
}
