.home-screen {
  margin: 2% 2%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.product-listing-container {
  display: flex;
  padding: 0.5em;
  width: 50%;
}

@media (min-width: 60em) {
  .home-screen {
    margin: 2% 5%;
  }

  .product-listing-container {
    width: 33.33%;
  }
}

@media (min-width: 90em) {
  .home-screen {
    margin: 2% 10%;
  }
}

@media (min-width: 110em) {
  .home-screen {
    margin: 2% 20%;
  }
}
