a.plain-text{
  color: #115;
  text-align: center;
  text-decoration: none;
}

.image-holder {
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 30px;
  height: 200px;
  line-height: 0;
  padding: 1px;
}

.space-to-the-right {
  display: inline-block;
  margin-right: 50px;
}

