a.plain-text{
  color: #115;
  text-align: center;
  text-decoration: none;
}

.image-holder {
  color: inherit;
  height: 200px;
  line-height: 0;
  padding: 1px;
  transition: .3s;
}

.image-holder:hover {
  color: inherit;
  opacity: .6;
  text-decoration: inherit;
}

.checkout-row {
  justify-content: flex-end;
  margin: .5rem 0;
}

.product-title {
  color: inherit;
  text-decoration: none;
}

.product-title:hover {
  color: #6c757d;
  text-decoration: none;
}

.product-title h2 {
  display: inline;
}
