a.button-link:active, a.button-link:hover{
  background-color: blue;
}

a.button-link:link, a.button-link:visited{
  background-color: #4443f6;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.image-holder{
  height: 200px;
  padding: 1px;
  line-height: 0;
  border: 1px solid black;
  background-color: #ddd;
  border-radius: 30px;
}
