.cart-container.mini {
  border: 2px solid #DDD;
  border-radius: 6px 6px 6px 6px;
  border-spacing: 0;
  box-shadow: 0 1px 1px #DDD;
}

/* Header */

.cart-container .header-row {
  background-color: #DCE9F9;
  background-image: linear-gradient(#F8F8F8, #ECECEC);
  border-bottom: 1px solid #ddd;
  border-top: medium none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
  font-size: 20px;
  padding: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.cart-container.mini .header-row {
  border-radius: 6px 0 0 0;
  font-size: 14px
}

@media only screen and (max-width: 300px) {
  .cart-container.mini .header-row{
    font-size: 9px
  }
}

/* Content */

.cart-container .item-row{
  font-size: 12px;
  padding: 4px;
}

.cart-container .price-col {
  font-size: 16px;
  padding-top: 104px;
}

.cart-container .item-row:nth-child(even) {
  background-color: #f2f2f0;
}

.cart-container .item-row:nth-child(odd) {
  background-color: #fcfefe;
}

.remove-from-cart-icons {
  margin-top: 33px;
}

@media only screen and (max-width: 300px) {
  .cart-container.mini .item-row{
    font-size: 8px
  }
}

/* Footer */

.cart-container .final-row {
  background-color: #ececec;
  font-size: 16px;
  padding: 10px 0;
}

.cart-container.mini .final-row {
  background-color: #ececec;
  border-radius: 0 6px 0 0;
  font-size: 12px;
  padding-bottom: 3px;
  padding-top: 8px;
}

@media only screen and (max-width: 300px) {
  .cart-container.mini .final-row{
    font-size: 8px
  }
}

.to-right {
  text-align: right;
}
