.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

.shopping-cart {
  width: 24px;
.shopping-cart-badge {
  margin: 0 0 0 -10px;
  position: absolute;
}

.cat-logo {
  width: 36px;
  height: 36px;
  fill: currentColor;
  margin-right: 1rem;
}
