.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

.shopping-cart {
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.shopping-cart-badge {
  margin: 0 0 0 -10px;
  position: absolute;
}

.cat-logo {
  fill: currentColor;
  height: 36px;
  margin-right: 1rem;
  width: 36px;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}
