.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

.shopping-cart {
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.shopping-cart-badge {
  margin: 0 0 0 -10px;
  position: absolute;
}

.cat-logo {
  fill: currentColor;
  height: 36px;
  margin-right: 1rem;
  width: 36px;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

.btn-link {
  color: #212529;
}

.btn-link:hover {
  color: #6c757d;
}

.header-with-modal .btn {
  display: table-cell;
  vertical-align: middle;
}

.header-with-modal h1,
.header-with-modal h2,
.header-with-modal h3,
.header-with-modal p {
  display: inline-table;
  margin: 0;
  vertical-align: middle;
}
